# .coveragerc
[run]
source = PyFiberModes
branch = True
relative_files = True
parallel = True
omit =
    **/__init__.py
    PyFiberModes/_version.py
    PyFiberModes/directories.py
    PyFiberModes/**/__main__.py

[report]
skip_covered = True
show_missing = True
precision = 2

[html]
directory = htmlcov

[xml]
output = coverage.xml
